<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formationandroid.demoappkotlin5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAppKotlin5">
        <activity
            android:name=".activites.PermissionActivity"
            android:exported="true" />
        <activity
            android:name=".activites.CoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".activites.RetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".activites.FichierActivity"
            android:exported="true" />
        <activity
            android:name=".activites.PreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".activites.ListeActivity"
            android:exported="true" />
        <activity
            android:name=".activites.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".activites.LancementActivity"
            android:exported="true" />
        <activity
            android:name=".activites.EvenementActivity"
            android:exported="true" />
        <activity
            android:name=".activites.SauvegardeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.CycleVieActivity"
            android:exported="true" />
        <activity
            android:name=".activites.ExempleActivity"
            android:exported="true" />
        <activity
            android:name=".activites.MainActivity"
            android:exported="true" />
    </application>

</manifest>